@import url('https://fonts.googleapis.com/css?family=Alegreya');

* {
  box-sizing: border-box;
  font-family: Alegreya, Georgia, serif;
  color: #333333;
}

label, fieldset legend {
  color: steelblue;
}

.answer {
  color: #333;
}

.item1 { grid-area: name;}
.item2 { grid-area: email;}
.item3 { grid-area: project;}
.item4 { grid-area: phone;}
.item5 { grid-area: city;}
.item6 { grid-area: donate;}
.item7 { grid-area: info;}
.item8 { grid-area: time;}

.item3 label {
  display: block;
}

.container {
  display: grid;
  grid-template-areas:
    'name email project'
    'phone city project'
    'info info donate'
    'info info time';
  grid-gap: 1em;
}

textarea {
  width: 90%;
  border-radius: 1px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-style: italic;
}

input[type=submit] {
  background-color: steelblue;
  font-size: large;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem 2rem .5rem;
}

input[type=checkbox] {
  margin-right: 1rem;
}

h2, h3, h4 { font-weight: 500; }

h3, h4 {
  padding: 0;
  margin: 0;
  color: #29627e;
}

header, nav, footer { padding-left: 1rem; }

header {
  background: #dbe7f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
}

.fa-award {
  color: red;
  margin-left: 1rem;
}

img.flip:hover { transform: scaleX(-1); }

img.flip {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

img.gray:hover { filter: grayscale(100%); }

img.gray {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.clearfix {
  content:"";
  display: block;
  clear:both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li { float: left;}

nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  margin-right: 1rem;
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

nav li a:hover { background-color: #b6cee2; }

a.active { border-bottom: 2px solid steelblue;}

.page-article {
  font-size: 1.1em;
  padding-left: 2rem;
}

.box-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.box {
  position: relative;
  left: 2rem;
  width: 95%;
  border-bottom: 1rem solid white;
  background: #e6f2ff;
  padding: 1rem;
}

.box:nth-child(2n) {background-color: #cce5ff;}

.box-row {
  position: relative;
  left: 1rem;
  padding-top: 1rem;
}

.column {
  width: 30%;
  float: left;
}

aside {
  width: 65%;
  padding: 1rem 1rem 1rem;
  float: right;
  box-shadow: inset 3px 0 3px -3px #29627e;
  color: #29627e;
}

figure {
  margin-left: 0;
  position: relative;
  left: 1%;
}

.column > figure { margin-bottom: 0; }

figcaption {
  font-size: small;
  color: navy;
}

a.project-link {
  background-color: #00bfff;
  color:white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  left: 1%;
}

a.project-link:hover, a.project-link:active { background-color: #33ccff; }

footer {
  background: #92b6d3;
  margin-top: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
}

footer h5 { color: white; }
