@import url('https://fonts.googleapis.com/css?family=Alegreya');

* {
  box-sizing: border-box;
  font-family: Alegreya, Georgia, serif;
  color: #333333;
}
header, nav, footer {
  padding-left: 2rem;
}

.fa-award {
  color: red;
  margin-left: 1rem;
}

h1 {
  color: #18414e;
}

h2, h3, h4, h5 {
  font-weight: 500;
}

h3, h4 {
  padding: 0;
  margin: 0;
  color: #29627e;
}

.clearfix {
  content:"";
  display: block;
  clear:both;
}

.site-header{
  background: lightblue;
  padding-top: .5em;
  padding-bottom: .5em;
}

.site-footer {
  background: #d1e0e0;
  margin-top: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
}

nav {
  padding-top: 1em;
  color:darkred;
}

nav a {
  color:darkorange;
  font-size: large;
}

nav a:hover{
  color: #ffcc33;
}

.page-article {
  font-size: 1.1em;
}

.box-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.box {
  position: relative;
  left: 2rem;
  width: 95%;
  border-bottom: 1rem solid white;
  background: #e6f2ff;
  padding: 1rem;
}

.box-row {
  position: relative;
  left: 1rem;
  padding-top: 1rem;
}

.column {
  width: 30%;
  float: left;
}

aside {
  width: 65%;
  padding: 1em 1em 1em;
  float: right;
  box-shadow: inset 3px 0 3px -3px #29627e;
  color: #29627e;
}

figure {
  margin-left: 0;
  position: relative;
  left: 1%;
}

.column > figure {
  margin-bottom: 0;
}

figcaption {
  font-size: small;
  color: navy;
}

a.project-link:link {
  background-color: #00bfff;
  color:white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  left: 1%;
}

a.project-link:hover, a.project-link:active {
  background-color: #33ccff;
}
